<html <!DOCTYPE html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
  <html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title></title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
      />
      <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
      <nav>
        <h1 class="logo"><a href="/">iCalendar</a></h1>
        <ul>
          <li>Welcome</li>
          <li>
            <a class="logout" href="/events/create-all-day-event"
              >Create All Day Event</a
            >
          </li>
          <li><a class="logout" href="/events/create">Create Event</a></li>
          <li><a class="logout" href="/logout">Log Out</a></li>
        </ul>
      </nav>

      <header>
        <p>Friday,<span> </span> April 1</p>
      </header>
      <div class="all-day-task"></div>
      <div class="am">
        <h1>AM</h1>
        <div class="hours">
          <div class="hour">
            <div class="full">12:00</div>
            <div class="half">
              <div id="am-0" class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">12:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">01:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">01:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">02:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">02:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">03:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">03:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">04:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">04:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">05:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">05:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">06:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">06:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">07:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">07:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">08:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">08:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">09:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">09:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">10:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">10:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">11:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">11:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pm">
        <h1>PM</h1>
        <div class="hours">
          <div class="hour">
            <div class="full">12:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">12:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">01:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">01:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">02:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">02:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">03:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">03:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">04:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">04:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">05:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">05:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">06:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">06:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">07:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">07:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">08:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">08:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">09:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">09:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">10:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">10:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
          <div class="hour">
            <div class="full">11:00</div>
            <div class="half">
              <div class="half-top"></div>
              <div class="half-bottom">
                <div class="half-bottom-1">11:30</div>
                <div class="half-bottom-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="editEvent" class="modal close">
        <div class="modal-content">
          <form id="editForm">
            <div class="mb-3">
              <label for="title" class="form-label">Event Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
              />
            </div>
            <div class="mb-3">
              <label for="location" class="form-label">Event Location</label>
              <input
                class="form-control"
                type="text"
                id="location"
                name="location"
                required
              />
            </div>
            <div class="row mb-5">
              <div class="col-md">
                <label for="startTime" class="form-label">Start Time</label>
                <select id="startTime" class="form-select">
                  <option selected>00</option>
                  <option>0.5</option>
                  <option>01</option>
                  <option>01.5</option>
                  <option>02</option>
                  <option>02.5</option>
                  <option>03</option>
                  <option>03.5</option>
                  <option>04</option>
                  <option>04.5</option>
                  <option>05</option>
                  <option>05.5</option>
                  <option>06</option>
                  <option>06.5</option>
                  <option>07</option>
                  <option>07.5</option>
                  <option>08</option>
                  <option>08.5</option>
                  <option>09</option>
                  <option>09.5</option>
                  <option>10</option>
                  <option>10.5</option>
                  <option>11</option>
                  <option>11.5</option>
                  <option>12</option>
                  <option>12.5</option>
                  <option>13</option>
                  <option>13.5</option>
                  <option>14</option>
                  <option>14.5</option>
                  <option>15</option>
                  <option>15.5</option>
                  <option>16</option>
                  <option>16.5</option>
                  <option>17</option>
                  <option>17.5</option>
                  <option>18</option>
                  <option>18.5</option>
                  <option>19</option>
                  <option>19.5</option>
                  <option>20</option>
                  <option>20.5</option>
                  <option>21</option>
                  <option>21.5</option>
                  <option>22</option>
                  <option>22.5</option>
                  <option>23</option>
                  <option>23.5</option>
                  <option>24</option>
                </select>
              </div>
              <div class="col-md">
                <label for="endTime" class="form-label">End Time</label>
                <select id="endTime" class="form-select">
                  <option selected>00</option>
                  <option>0.5</option>
                  <option>01</option>
                  <option>01.5</option>
                  <option>02</option>
                  <option>02.5</option>
                  <option>03</option>
                  <option>03.5</option>
                  <option>04</option>
                  <option>04.5</option>
                  <option>05</option>
                  <option>05.5</option>
                  <option>06</option>
                  <option>06.5</option>
                  <option>07</option>
                  <option>07.5</option>
                  <option>08</option>
                  <option>08.5</option>
                  <option>09</option>
                  <option>09.5</option>
                  <option>10</option>
                  <option>10.5</option>
                  <option>11</option>
                  <option>11.5</option>
                  <option>12</option>
                  <option>12.5</option>
                  <option>13</option>
                  <option>13.5</option>
                  <option>14</option>
                  <option>14.5</option>
                  <option>15</option>
                  <option>15.5</option>
                  <option>16</option>
                  <option>16.5</option>
                  <option>17</option>
                  <option>17.5</option>
                  <option>18</option>
                  <option>18.5</option>
                  <option>19</option>
                  <option>19.5</option>
                  <option>20</option>
                  <option>20.5</option>
                  <option>21</option>
                  <option>21.5</option>
                  <option>22</option>
                  <option>22.5</option>
                  <option>23</option>
                  <option>23.5</option>
                  <option>24</option>
                </select>
              </div>
            </div>
            <div class="col-md-auto d-flex justify-content-end">
              <button type="submit" class="btn btn-primary px-3 mx-2">
                Update
              </button>
              <button
                type="button"
                id="delete"
                class="btn btn-danger px-3 mx-2"
              >
                Delete
              </button>
              <button
                type="button"
                class="btn btn-secondary px-3 mx-2"
                onclick="closeModal()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
      <div id="editAllDayEvent" class="modal close">
        <div class="modal-content">
          <form id="editAllDayForm">
            <div class="mb-3">
              <label for="title" class="form-label">Event Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
              />
            </div>
            <div class="mb-3">
              <label for="location" class="form-label">Event Location</label>
              <input
                class="form-control"
                type="text"
                id="location"
                name="location"
                required
              />
            </div>
            <div class="col-md-auto d-flex justify-content-end">
              <button type="submit" class="btn btn-primary px-3 mx-2">
                Update
              </button>
              <button
                type="button"
                id="deleteAllDay"
                class="btn btn-danger px-3 mx-2"
              >
                Delete
              </button>
              <button
                type="button"
                class="btn btn-secondary px-3 mx-2"
                onclick="closeModal()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
      ></script>
      <script type="module" src="script.js"></script>
      <script>
        function closeModal() {
          const eventModal = document.querySelector("#editEvent");
          const allDayEventModal = document.querySelector("#editAllDayEvent");
          eventModal.style.display = "none";
          allDayEventModal.style.display = "none";
        }
      </script>
    </body>
  </html>
</html>
