<%- include('partials/header'); -%>

<div class="row justify-content-center py-5 my-5">
  <form class="col-md-4">
    <h2>Sign Up</h2>
    <div class="mt-5">
      <label for="email" class="form-label">Email address</label>
      <input type="text" class="form-control" name="email" />
      <div class="email error"></div>
    </div>
    <div class="my-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" />
      <div class="password error"></div>
    </div>

    <button type="submit" class="btn btn-primary mb-5">Submit</button>
  </form>
</div>

<script>
  const form = document.querySelector("form");
  const emailError = document.querySelector(".email");
  const passwordError = document.querySelector(".password");

  emailError.textContent = "";
  passwordError.textContent = "";

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const email = form.email.value;
    const password = form.password.value;

    try {
      const result = await fetch("/signup", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await result.json();
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
        console.log(data);
      }
      if (data.user) {
        location.assign("/");
      }
      console.log(data);
    } catch (error) {
      console.log(error);
    }
  });
</script>

<%- include('partials/footer'); -%>
